node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

.DS_Store
._*

scripts/.env.json
scripts/.schedules.json
.schedules.json
.env.json
docker-compose.override.yml
package-lock.json
